.am-hide {
  opacity: 0;
}

div.am-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  overflow: hidden;
}

div.am-wrapper > div {
  position: absolute;
}

div.am-wrapper > div.no_margin * {
  margin: 0 !important;
}
